app-map{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
}

#searchField{
    border: 2px lightgrey solid;
    background: white;
    opacity: 0.7;
}

ion-card:hover{
    cursor: pointer;
    opacity: 1;
}

.sideItem{
    max-width: 30%;
}

ion-card{
    pointer-events: auto;
    opacity: 0.7;
}

ion-list{
    background:transparent;
    pointer-events: none;
}

ion-item{
    --background:transparent;
}

ion-card-header{
    padding:8px;
}

.attendingEvent{
    background-color: lightblue;
    // ion-text::part{
    //     color:var(--ion-color-primary-contrast);
    //     --contrast:var(--ion-color-primary-contrast);
    // }
}

.createdEvent{
    background-color: var(--ion-color-primary-tint);
}

// .marker:hover{
//     cursor: pointer;
// }