app-map{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
}

#searchField{
    border: 2px lightgrey solid;
    background: white;
    opacity: 0.7;
}

ion-card:hover{
    cursor: pointer;
}

ion-card{
    pointer-events: auto;
}

ion-list{
    background:transparent;
    pointer-events: none;
}

ion-item{
    --background:transparent;
}

ion-card-header{
    padding:8px;
}

// .marker:hover{
//     cursor: pointer;
// }