<ion-content>
    <ion-list>
        <ion-item 
            *ngFor="let event of pendingEvents|keyvalue; let index = index" 
            lines="none" 
            (click)="navigateToEventDetail(event.key)"
        >
            <ion-card>
                <ion-card-header>
                    <ion-thumbnail>{{index}}</ion-thumbnail>
                    <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                    <ion-card-subtitle>{{event.value.date}}</ion-card-subtitle>
                    <ion-card-title>{{event.value.title}}</ion-card-title>
                </ion-card-header>
    <!-- Show location and activity type -->
                <ion-card-content>{{event.value.description}}</ion-card-content>
            </ion-card>
            <ion-label></ion-label>
        </ion-item>
    </ion-list>
</ion-content>