<ion-content>
    <app-map></app-map>
    <ion-input
        id="searchField"
        placeholder="Search for an event"
        (ionChange)="updateSearchValue($event)"
        (keydown.enter)="handleEnterKey($event)"
        (keydown.esc)="handleEscKey($event)"
        ></ion-input>
    <ion-list *ngIf="filteredPendingEvents|async as list" >
        <ion-item
            *ngFor="let event of list; let index = index"
            lines="none"
        >
            <ion-card (click)="navigateToEventDetail(event['id'])">
                <ion-card-header>
                    <!-- <ion-thumbnail>{{index}}</ion-thumbnail> -->
                    <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                    <ion-card-title>{{event['name']}}</ion-card-title>
                    <ion-card-subtitle>{{event['date']}}</ion-card-subtitle>
                    <!-- <ion-card-subtitle>created by {{event['creatorId']}}</ion-card-subtitle> -->
                    <ion-card-subtitle>{{activitiesNames.get(event['activityId'])}}</ion-card-subtitle>
                </ion-card-header>
                <!-- Show location and activity type -->
                <!-- <ion-card-content>{{event['description']}}</ion-card-content> -->
            </ion-card>
            <ion-label></ion-label>
        </ion-item>
    </ion-list>
</ion-content>