app-map{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
}

#searchField{
    border: 2px lightgrey solid;
    background: white;
    opacity: 0.7;
}

ion-card:hover{
    cursor: pointer;
}

// .marker:hover{
//     cursor: pointer;
// }