<app-header [parentPage]="'pendingevents'" [title]="eventContent?.title"></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{activity?.name}}</ion-card-title>
            <ion-card-subtitle>{{eventContent?.date}}</ion-card-subtitle>
        </ion-card-header>

        <ion-item>
            <!-- <ion-label>Created by {{eventContent?.creator}}</ion-label> -->
            <ion-label>Created by {{creatorName?.firstname}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>I will attend</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>

        <ion-card-content>
            {{eventContent?.description}}
        </ion-card-content>
    </ion-card>
</ion-content>