<app-header [parentPage]="'activities'" [title]="discussionName"></app-header>
<ion-content>
    <ion-grid style="margin-bottom: 3rem;" *ngIf="messagesList|async as list">
        <ion-row *ngFor="let item of list;
                            let index = index"
                            lines="none"
        >
            <ion-card class="messageBubble">
                <ion-card-content class="ion-no-padding">{{item['content']}}</ion-card-content>
                {{item['userId']|json}}
                {{usersMap|json}}
                <ion-label class="messageDetails">{{usersMap.get(item['userId'])}} at {{item['date']|date:'H:mm dd.MM.y'}}</ion-label>
            </ion-card>
        </ion-row>

        <ion-row class="sendRow">
            <ion-item lines="none" class="sendGroup">
                <ion-input placeholder="type here" [(ngModel)]="currentMessage" (keypress)="checkKey($event)"></ion-input>
                <ion-button class="sendButton" expand="block" (click)="sendMessage()">Send</ion-button>
            </ion-item>
        </ion-row>
    </ion-grid>

    <!-- <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
</ion-content>