<app-header [parentPage]="'activities'" [discussionName]="discussionName"></app-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of messagesList|keyvalue;
                            let index = index"
                            lines="none"
        >
        <ion-card>
            <ion-card-header>
                <ion-thumbnail>{{index}}</ion-thumbnail>
                {{item|json}}
                <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                <ion-card-subtitle>{{item.key}}</ion-card-subtitle>
                <!-- <ion-card-title>{{getUserName(item.value[userId])}}</ion-card-title> -->
                <!-- <ion-card-title>{{item?.value?.userId}}</ion-card-title> -->
            </ion-card-header>

            <ion-card-content>{{item.value|json}}</ion-card-content>
        </ion-card>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>