<app-header [parentPage]="'activities'" [title]="discussionName"></app-header>
<ion-content>
    <ion-grid style="margin-bottom: 3rem;">
        <ion-row *ngFor="let item of messagesList;
                            let index = index"
                            lines="none"
        >
        <ion-card class="messageBubble">
            <!-- <ion-card-header> -->
                <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                <!-- <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
                <ion-card-title>{{usersMap.get(item?.userId)}}</ion-card-title>
            </ion-card-header> -->

            <ion-card-content class="ion-no-padding">{{item?.content}}</ion-card-content>

            <ion-label class="messageDetails">{{usersMap.get(item?.userId)}} at {{item.date}}</ion-label>
        </ion-card>
        </ion-row>

        <ion-row class="sendRow">
            <ion-item lines="none" class="sendGroup">
                <!-- <ion-input placeholder="type here" (ionChange)="updateValue($event)"></ion-input> -->
                <ion-input placeholder="type here" [(ngModel)]="currentMessage"></ion-input>
                <!-- <ion-button expand="block" (click)="sendMessage()">Send</ion-button> -->
                <ion-button class="sendButton" expand="block" (click)="sendMessage()">Send</ion-button>
            </ion-item>
        </ion-row>
    </ion-grid>

    <!-- <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

        <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher> -->
</ion-content>