
.myFooterDiv,.sendGroup{
    position: sticky;
    bottom: 0;
}

.sendGroup{
    width: 100%;
}

.sendButton{
    height: 80%;
    width: 10%;
}

.sendRow{
    position: fixed;
    bottom:0;
    width:100%;
}