<ion-list>
    <div class="ion-justify-content-center myDiv" *ngIf="pendingRequestsListFiltered|async as list">
        <ion-item *ngFor="let request of list" lines="none">
            <ion-toggle (ionChange)="action($event)"></ion-toggle>
            <ion-label disabled="false">{{request['name']}}</ion-label>
            <ion-badge color="warning">{{requestsMap.get(request['name'])}}</ion-badge>
        </ion-item>
    </div>
</ion-list>
<ion-button>Create new request</ion-button>
<!-- <div style="display: flex;" class="ion-justify-content-center"> -->
    <!-- <ion-input placeholder="Enter your activity" (ionChange)="filterRequests($event)"></ion-input>
    <ion-button>Confirm</ion-button> -->
<!-- </div> -->
