<ion-content>
    <ion-input #search placeholder="Enter your activity" (ionChange)="filter($event)"></ion-input>

    <ion-list>
        <ion-item *ngFor="let item of filteredList;
                            let index = index"
                (click)="navigateToDiscussion(item)"
        >
            <ion-thumbnail>{{index}}</ion-thumbnail>
            <ion-label>{{item.name}}</ion-label>
        </ion-item>
    </ion-list>
<!-- TODO corriger le passage de valeur pour la recherche, sinon tout implémenter directement dans activities -->
    <app-pendingrequests [searchValue]="search.value" *ngIf="filteredListIsEmpty()" ></app-pendingrequests>
</ion-content>