.activityButtonContainer{
    width: 80%;
    height:100%;
    margin:auto;
}

.activityButton{
    height: 90%;
}

.searchbar{
    border: 1px solid lightgray;
    width: 70%;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.createCommands{
    display: flex;
}
// .custom_body::before {
//     background-image: url("../../../../../assets/icons/background.jpg");
//     background-size: cover;
//     position: fixed;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     opacity: 0.5;
//     z-index: -1;
// }