<ion-content>
    <ion-input 
        placeholder="Enter your activity" 
        (ionChange)="filterActivities($event)"
        (ionChange)="filterRequests($event)"
    ></ion-input>

    <ion-list>
        <ion-item *ngFor="let item of filteredList;
                            let index = index"
                (click)="navigateToDiscussion(item)"
        >
            <ion-thumbnail>{{index}}</ion-thumbnail>
            <ion-label>{{item.name}}</ion-label>
        </ion-item>
    </ion-list>

    <!-- <app-pendingrequests [searchValue]="searchValue" *ngIf="filteredListIsEmpty()" ></app-pendingrequests>-->

    <div *ngIf="filteredListIsEmpty()">
        <ion-button>Create new request</ion-button>
        <ion-list>
            <div style="display: flex;" class="ion-justify-content-center ">
                <ion-item *ngFor="let request of displayList" lines="none">
                    <ion-toggle></ion-toggle>
                    <ion-label disabled="false">{{request.key}}</ion-label>
                    <ion-badge color="warning">{{requestsMap.get(request?.key)}}</ion-badge>
                </ion-item>
            </div>
        </ion-list>
    </div>

</ion-content>