<!-- (mapCreate)="map = $event" -->
<div id="mapcontainer" *ngIf="isViewLoaded === true">
    <div id="mapdiv">
        <mgl-map #map
            (mousedown)="buttonClicked($event)"
            (mapClick)="mapClickRaised($event)"
            [style]="'mapbox://styles/mapbox/streets-v11'"
            [zoom]="[12]"
            [center]="[userPosition.lng,userPosition.lat]"
        >
        <div *ngIf="pendingEvents as evts">
            <mgl-marker [lngLat]="[item['position'].longitude, item['position'].latitude]" *ngFor="let item of evts">
                <div class="marker" (click)="navigateToEventDetail(item['id'])"></div>
                <ion-label class="markerLabel">{{item['name']}}</ion-label>
            </mgl-marker>
        </div>
        </mgl-map>
    </div>
</div>