<ion-content>
    <!-- When the user is connected -->
    <!-- <div *ngIf="isLogged(); else loginTempl"> -->
    <div *ngIf="isLoggedConst|async; else loginTempl">
        <ion-item>
            <ion-label>Pseudo</ion-label>
            <ion-input [(ngModel)]="userName"></ion-input>
            <ion-button (click)="updateName()">Save</ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="emailAddress" disabled></ion-input>
            <ion-button disabled>Save</ion-button>
        </ion-item>
        <!-- <ion-item>
            <ion-label>Use auto-location</ion-label>
            <ion-toggle [(ngModel)]="autoLocation"></ion-toggle>

            <ion-label>Location</ion-label>
            <ion-input [disabled]="autoLocation"></ion-input>
            <ion-button>Save</ion-button>
        </ion-item> -->
        <ion-item *ngIf="attendedEvents?.length > 0">
            <ion-label>Attended events</ion-label>
            <ion-list>
                <ion-item lines="none" *ngFor="let event of attendedEvents"><b>{{event.name }}</b>| {{event.date|date:'H:mm dd.MM.y'}}</ion-item>
            </ion-list>
        </ion-item>
        <ion-item lines="none" *ngIf="createdEvents?.length > 0">
            <ion-label>Created events</ion-label>
            <ion-list>
                <ion-item lines="none" *ngFor="let event of createdEvents"><b>{{event.name }}</b>| {{event.date|date:'H:mm dd.MM.y'}}</ion-item>
            </ion-list>
        </ion-item>
        <div class="loginTemplate ion-justify-content-center ion-align-items-center bg-transparent">
            <ion-grid>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12" class="ion-text-center">
                        <ion-item class="loginButtons" lines="none">
                            <ion-button (click)="logout()">Logout</ion-button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- When the user is not connected -->
    <ng-template #loginTempl>
        <div class="loginTemplate ion-justify-content-center ion-align-items-center bg-transparent">
        <ion-grid>
            <!-- <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginField">
                        <ion-label>Pseudo</ion-label>
                        <ion-input [(ngModel)]="userName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> -->
            <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginField">
                        <ion-label>email</ion-label>
                        <ion-input [(ngModel)]="emailAddress"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginField">
                        <ion-label>password</ion-label>
                        <ion-input [(ngModel)]="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginButtons" lines="none">
                        <ion-button
                        (click)="loginLocally()"
                        >Login</ion-button>
                        <ion-button
                        (click)="createAccount()"
                        >Create account</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginButtons" lines="none">
                        <ion-button
                            (click)="loginWithGoogle()"
                        >Login with Google</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-item class="loginButtons" lines="none">
                        <ion-button
                        (click)="loginAnonymously()"
                        >Login anonymously</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
        </div>
    </ng-template>
</ion-content>