.button{
    width:100px;
    height: 80%; 
}

.myDiv ion-button{
    height: 40px;
}

.myDiv{
    display: flex;
    margin: auto;
    height: 40px;
}

.loginTemplate ion-button{
    height: 40px;
    min-width: 150px;
}