<ion-content>
    <div *ngIf="isLogged(); else loginTempl">
        <ion-item>
            <ion-label>Pseudo</ion-label>
            <ion-input></ion-input>
            <ion-button>Save</ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input></ion-input>
            <ion-button>Save</ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Use auto-location</ion-label>
            <ion-toggle [(ngModel)]="autoLocation"></ion-toggle>

            <ion-label>Location</ion-label>
            <ion-input [disabled]="autoLocation"></ion-input>
            <ion-button>Save</ion-button>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Attended events</ion-label>
            <ion-list>
                <ion-item lines="none" *ngFor="let event of attendedEvents">{{event.name}}</ion-item>
            </ion-list>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Created events</ion-label>
            <ion-list>
                <ion-item lines="none" *ngFor="let event of createdEvents">{{event.name}}</ion-item>
            </ion-list>
        </ion-item>

    <div class="myDiv ion-justify-content-center">
        <ion-button
        (click)="logout()"
        >Logout</ion-button>
    </div>
    </div>
    <ng-template #loginTempl>
        <div style="display: flex;" class="loginTemplate ion-justify-content-center ion-align-items-center">
        <ion-list lines="none" >
            <ion-item>
                <ion-button
                    (click)="loginWithGoogle()"
                >Login with Google</ion-button>
            </ion-item>
            <ion-item>
                <ion-button
                    (click)="loginAnonymously()"
                >Login anonymously</ion-button>
            </ion-item>
        </ion-list>
        </div>
        <!-- <div style="display:flex; height: 10%;" class="myDiv ion-justify-content-center ion-align-items-center">
            <ion-button
                (click)="loginWithGoogle()"
            >Login with Google</ion-button>
            <ion-button
                (click)="loginAnonymously()"
            >Login anonymously</ion-button>
        </div> -->
    </ng-template>
</ion-content>