<app-header parentPage="pendingevents"></app-header>
<ion-content>
    <!-- <div (onkeypress)="keyboardManagement($event)" tabindex="0"> -->
        <ion-item>
        <ion-label>Title</ion-label>
        <ion-input clearInput placeholder="Enter a title" [(ngModel)]="eventTitle" type="text"></ion-input>
        </ion-item>

        <pre>{{eventData|json}}</pre>

        {{eventDate|date:'yyyy-MM-ddTHH:mm:ss'}}
        <ion-item>
            <!-- <ion-datetime hourCycle="h23" [firstDayOfWeek]="1" color="primary" value="{{initDate}}"></ion-datetime> -->
            <!-- <ion-datetime hourCycle="h23" [firstDayOfWeek]="1" color="primary" value="{{eventDate|date:'YYYY-MM-ddTHH:mm:ss'}}"></ion-datetime> -->
            <ion-datetime [firstDayOfWeek]="1" max="2099-10-31" [min]="today" color="primary" [(ngModel)]="eventDate"></ion-datetime>
            <!-- <ion-datetime [firstDayOfWeek]="1" max="2099-10-31" [min]="today" color="primary" value="2022-08-25T11:42:00.000Z"></ion-datetime> -->
        </ion-item>
        <!-- <ion-item>
        <ion-label>Date</ion-label>
        <ion-input type="eventDate" [(ngModel)]="eventDate" type="date"></ion-input>
        </ion-item> -->

        <ion-item>
        <ion-label>Description</ion-label>
        <ion-input clearInput placeholder="Enter a description" [(ngModel)]="eventDescription" type="text"></ion-input>
        </ion-item>

        <ion-list *ngIf="activities">
        <ion-item>
            <ion-select placeholder="Select activity" [(ngModel)]="eventType">
                <!-- <div *ngFor="let item from activities"> -->
                    <ion-select-option *ngFor="let item of activities" [value]="item.id">{{item.name}}</ion-select-option>
                <!-- </div> -->
            </ion-select>
        </ion-item>
        </ion-list>

        <ion-button (click)="cancelAction()">Cancel</ion-button>
        <ion-button (click)="confirmAction()">Confirm</ion-button>
    <!-- </div> -->
</ion-content>